<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/tarikbozyak/Desktop/idea/VavTv/src/test/java/org/example/indexTest.java"><classes><class name="org.example.indexTest"><methods><include name="title"/></methods></class></classes></test></suite>